*{
    font-family: "Times New Roman";
    border-radius: 10px;
}

html
{
    scroll-behavior: smooth;
}

/* CSS for Body */

body
{
    background-color: rgb(235, 235, 235);
    width:56%;
    margin: auto;
    padding-top: 5px;
}

/* CSS for Heading */

.head
{
    background-color: white;
    padding: 5px;
}

/* CSS for Internal Navigation Bar */

.nav-bar
{
    display: flex;
    background-color:white;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    /* position: sticky;
    top: 0px; */
}

/* CSS for Elements Inside Internal Navigation Bar */

.nav-bar a
{
    font-weight: bold;
    padding: 2px 10px;
    color: black;
    margin: auto;
}

/* Hover Effect for Elements Inside Internal Navigation Bar */

.nav-bar a:hover
{
    transform: scale(1.1);
    border: 5px;
    border-radius: 10px;
    border-color: #004AAD;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.151);
    transition: all 0.2s;
}

/* CSS for Contacts */

.contact
{
    background-color:white;
    padding: 1px;
    padding-bottom: 10px;
}

/* CSS for Personal Contacts */

.personal-contact
{
    justify-content: space-evenly;
    display: flex;
    width: 42%;
    margin-left: 29%;
}

/* CSS for Elememts Inside Personal Contacs */

.personal-contact a
{
    padding: 2px 3px;
    color: black;
    /* margin: auto; */
}

/* Hover Effect for Elements Inside Personal Contact */

.personal-contact a:hover
{
    transform: scale(1.1);
    border: 5px;
    border-radius: 10px;
    border-color: black;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.151); */
    transition: all 0.1s;
}

/* CSS for Social Contacts */

.social-contact
{
    justify-content:space-evenly;
    display: flex;
    width: 70%;
    margin-left: 15%;
}

/* CSS for Elememts Inside Social Contacs */

.social-contact a
{
    padding: 2px 3px;
    color: black;
    margin: auto;
}

/* Hover Effect for Elements Inside Social Contact */

.social-contact a:hover
{
    transform: scale(1.1);
    border: 5px;
    border-radius: 10px;
    border-color: black;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.151); */
    transition: all 0.1s;
}

/* CSS for Horizontal Lines */

hr
{
    color: blue;
}

/* CSS for 2nd Headings */

h2
{
    color: #004AAD;
}

/* CSS for Main Heading (Name) */

h1
{
    color: #004AAD;
}

/* CSS for Responsive Website */

@media (max-width:1000px)
{
    /* Responsive Main Body */
    .main
    {
        width: auto;
    }
    
    /* Responsive Navigation Bar */
    .nav-bar
    {
        flex-direction: column;
        align-items: center;
    }

    /* Responsive Personal Contacts */
    .personal-contact
    {
        flex-direction: column;
        align-items: center;
    }

    /* Responsive Social Contacts */
    .social-contact
    {
        flex-direction: column;
        align-items: center;
    }
}
