*{
    font-family: "Times New Roman";
    border-radius: 10px;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: powderblue;
    width: 760px;
    margin: auto;
}

.head
{
    background-color: #2a9d8f8f;
    padding: 5px;
}

.contact
{
    background-color:lightcyan;
    padding: 1px;
    padding-bottom: 10px;
}

.nav-bar
{
    display: flex;
    background-color:#2a9d8f8f;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 7px;
    text-decoration: none;
    text-align: center;
}

.nav-bar a
{
    font-weight: bold;
    padding: 2px 10px;
    color: black;
    margin: auto;
}
.nav-bar a:hover
{
    transform: scale(1.1);
    border: 5px;
    border-radius: 10px;
    border-color: black;
    background-color:lightblue;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.151);
    transition: all 0.2s;
}

.personal
{
    justify-content: space-evenly;
    display: flex;
    width: 320px;
    margin-left: 220px;
}

.personal a
{
    padding: 2px 3px;
    color: black;
    /* margin: auto; */
}
.personal a:hover
{
    transform: scale(1.1);
    border: 5px;
    border-radius: 10px;
    border-color: black;
    background-color:lightblue;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.151);
    transition: all 0.1s;
}

.web
{
    justify-content:space-evenly;
    display: flex;
    width: 456px;
    margin-left: 152px;
}

.web a
{
    padding: 2px 3px;
    color: black;
    margin: auto;
}
.web a:hover
{
    transform: scale(1.1);
    border: 5px;
    border-radius: 10px;
    border-color: black;
    background-color:lightblue;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.151);
    transition: all 0.1s;
}

.footer
{
    padding-bottom: 5px;
}

hr
{
    color: blue;
}
@media (max-width:1000px)
{
    .nav-bar
    {
        flex-direction: column;
        align-items: center;
    }
    .main
    {
        width: auto;
    }
}